@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Round');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone');
*{
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid skyblue; */
}
.clearfix{
    clear: both;
}
.clear::after{
    content: ""; display: block; clear: both;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
    font-size: initial;
    font-weight: normal;
}
.margin_b13{
    margin-bottom: 13px;
}
.margin_b47{
    margin-bottom: 47px;
}
.v_hidden {
    position: absolute;
    /* clip: rect(0px 0px 0px 0px); */
    width: 1px;
    height: 1px;
    margin: 0px;
    overflow: hidden;
    }