@charset "utf-8";
.is-ie .header_inner > nav {
    width: 482px;
}
.is-ie .article1_inner > section > h2:nth-of-type(1){
    width: 371px;
}
.is-ie .article1_inner > section > h2:nth-of-type(2){
    width: 234px;
}
.is-ie .article1_inner > div {
    width: 420px;
}
.is-ie .article2_inner > h2 {
    width: 423px;
}
.is-ie .footer_inner > div:nth-of-type(1) {
    width: 370px;
}
.is-ie address {
    width: 418px;
}