@charset "utf-8";
@import url('greennuri_ie.css');
/* 헤더 */
header {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 10px 0;
}
.header_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    background: url(../img/초록누리/초록누리\ 로고.png) no-repeat 1% 85%;
}
.header_inner > input,
.header_inner > label{
    display: none;
}
.header_inner > form {
    float: right;
    background: url(../img/초록누리/검색창.png) no-repeat center;
    height: 3rem;
    width: 12rem;
    background-size: contain;
}
.header_inner > form input{
    height: 1.8rem;
    width: 9rem;
    transform: translate(3px, 10px);
    border: none;
    border-radius: 15px 0 0 15px;
}
.header_inner > nav {
    width: max-content;
    margin: 0 auto;
}
nav:hover > .gnb > .menu > ul,
nav:hover > .gnb::before{
    display: block;
}
/* 헤더 gnb */
li{
    list-style-type: none;
}
.gnb{
    background-color: white;
}
.gnb::before{
    content: "";
    width: 100%;
    height: 180px;
    background: #fff;
    position: absolute;
    top: 86px;
    left: 0;
    display: none;
}
.menu{
    float: left;
    position: relative;
}
.menu > a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    float: left;
    position: relative;
    margin: 0 15px 0 10px;
}
.menu > a::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    left: -13px;
    top: 1px;
    height: 1rem;
    background-color: #aaa;
    margin: 10px 10px 0 0
}
.menu > .menu_first::before {
    content: "";
    display: none;
}
.menu > ul{
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 100;
    display: none;
    width: 100%;
}
.on{
    display: block !important;
}
.on::before{
    display: block !important;
}
.menu a:hover {
    color: blue;
}
.menu > a::after {
    content: "";
    width: 0;
    height: 0;
    background-color: blue;
    display: block;
}
.menu > a:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    transition: width 1s;
    position: absolute;
    z-index: 110;
}
.submenu{
    text-align: center;
    word-break: keep-all;
}
.submenu > a{
    text-decoration: none;
    color: black;
    display: block;
}
/* 메인 */
main{
    background: url(../img/초록누리/aticle1.svg) no-repeat 88% 0% / cover;
}
/* 아티클1 */
.article1 {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    background-size: 100% 450px;
    padding: 90px 10px 0px;
}
.article1_inner {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.article1_inner > section > h2{
    color: white;
    font-size: 2.5rem;
    background: #000000;
    width: fit-content;
    border-radius: 15px;
    padding: 0 7px;
}
.article1_inner > div {
    width: max-content;
    margin: 168px auto;
}
.article1_inner > div > div > a {
    box-sizing: content-box;
    padding: 2.3rem 3.5rem 6.3rem 3.5rem;
    margin: 10px;
    border-radius: 1px;
    text-decoration: none;
    font-size: 1.1rem;
}
.article1_inner > div > div > a:hover {
    opacity: 0.5;
    cursor: pointer;
}
.article1_inner > div > div > a:nth-of-type(1) {
    border: 10px solid #347BB6;
    background: url(../img/초록누리/물약.svg) no-repeat 50% 80%;
    background-color: white;
    background-size: 30%;
    color: #347BB6;
}
.article1_inner > div > div > a:nth-of-type(2) {
    border: 10px solid #668013;
    background: url(../img/초록누리/원자.svg) no-repeat 50% 80%;
    background-color: white;
    background-size: 30%;
    color: #668013;
}
.article1_inner > div > div > a:nth-of-type(3) {
    border: 10px solid #2A837C;
    background: url(../img/초록누리/악수.svg) no-repeat 50% 80%;
    background-color: white;
    background-size: 30%;
    padding: 2.3rem 2.5rem 6.3rem 2.5rem;
    color: #2A837C;
}

/* 아티클2 */
.article2 {
    width: 100%;
    padding: 0px 10px 20px;
}
.article2_inner{
    max-width: 1200px;
    margin: 0 auto;
}
.article2_inner > h2 {
    width: max-content;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    font-weight: 500;
    font-size: 2.45rem;
    background-color: #f5f218;
    color: #000;
    border-bottom: 5px solid red;
}

/* 아티클2 섹션1 */
.article2_inner > div:nth-of-type(1) {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 0 0;
}
.article2_inner > div:nth-of-type(1) > input{
    position: absolute;
    left: -1000%;
}
.article2_inner > div:nth-of-type(1) > div:nth-of-type(1){
    width: 66.5vw;
    float: left;
    max-width: 957px;
}
.article2_inner > div:nth-of-type(1) > div > p{
    width: 100%;
    font-size: 1.5rem;
    background-color: #6F6F6F;
    color: white;
    border-bottom: 1px solid white;
    padding: 10px 0 7px 18px;
}
.article2_inner > div:nth-of-type(1) > div > p > label:nth-of-type(1){
    margin-right: 20px;
}
.article2_inner > div:nth-of-type(1) > div > p > label:hover{
    cursor: pointer;
}
#chk1:checked ~ div:nth-of-type(1) > p > label:nth-of-type(2){
    opacity: 0.59;
}
#chk2:checked ~ div:nth-of-type(1) > p > label:nth-of-type(1){
    opacity: 0.59;
}
.article2_inner > div:nth-of-type(1) > div > p > a{
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 20px;
    float: right;
    background: url(../img/초록누리/+.svg) no-repeat 50% 50% /cover;
}
#chk1:checked ~ div:nth-of-type(1) > table:nth-of-type(2){
    display: none;
}
#chk2:checked ~ div:nth-of-type(1) > table:nth-of-type(1){
    display: none;
}

table {
    background: #6F6F6F;
    float: left;
    width: 100%;
    table-layout: fixed;
    color: white;
    font-size: 0.9rem;
    padding: 0 0 5px 0;
}
table tr > th,
table tr > td {
    text-align: start;
    padding: 5.5px 0 5.8px 18px;
}
table tr th:last-child,
table tr td:last-child {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article2_inner > div:nth-of-type(1) > div:nth-of-type(2) {
    float: right;
}
.article2_inner > div:nth-of-type(1) > div:nth-of-type(2) > a {
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    text-align: center;
    box-sizing: content-box;
    border-radius: 1px;
    padding: 2.5rem 1rem 2.5rem 3rem;
}
.article2_inner > div:nth-of-type(1) > div:nth-of-type(2) > a:nth-of-type(1) {
    background: white url(../img/초록누리/위해경고.png) no-repeat 2% 50% /3rem;
    border: 10px solid #ED0000;
    margin-bottom: 20px;
    color: #ED0000;
}
.article2_inner > div:nth-of-type(1) > div:nth-of-type(2) > a:nth-of-type(2) {
    background: white url(../img/초록누리/유해경고.svg) no-repeat 2% 50% /3rem;
    color: #856865;
    border: 10px solid #856865;
}
/* 아티클2 섹션2 */
.article2_inner > div:nth-of-type(2) {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}
.article2_inner > div:nth-of-type(2) > div:nth-of-type(1) {
    float: right;
}
.article2_inner > div:nth-of-type(2) > div:nth-of-type(1) > a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.1rem;
    text-align: center;
    box-sizing: content-box;
    border-radius: 1px;
    padding: 6.25rem 2.31rem 1rem 2.31rem;
    margin-right: 20px;
}
.article2_inner > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-of-type(1) {
    background: white url(../img/초록누리/안전.svg) no-repeat 50% 30% /5rem;
    color: #217C71;
    border: 10px solid #217C71;
}
.article2_inner > div:nth-of-type(2) > div:nth-of-type(1) > a:nth-of-type(2) {
    background: white url(../img/초록누리/돋보기.svg) no-repeat 50% 30% /5rem;
    color: #0E006E;
    border: 10px solid #0E006E;
}

.article2_inner > div:nth-of-type(2) > div:nth-of-type(2) > h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.slide > a {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding-top: 60px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    font-size: 0.938rem;
    text-align: center;
}
.slide > a:nth-of-type(1) {
    background:white url(../img/초록누리/세제.svg) no-repeat 50% 20%;
}
.slide > a:nth-of-type(2) {
    background:white url(../img/초록누리/접착제.svg) no-repeat 50% 40%;
}
.slide > a:nth-of-type(3) {
    background:white url(../img/초록누리/방향제.svg) no-repeat 50% 30%;
}
.slide > a:nth-of-type(4) {
    background:white url(../img/초록누리/염료염색제.svg) no-repeat 50% 30%;
}
.slide > a:nth-of-type(5) {
    background:white url(../img/초록누리/살생물제.svg) no-repeat 50% 30%;
}
.slide > a:nth-of-type(6) {
    background:white url(../img/초록누리/농약.svg) no-repeat 50% 20%;
}
.slide > a:nth-of-type(7) {
    background:white url(../img/초록누리/기타.svg) no-repeat 50% 20%;
}
/* 관련사이트 */
.aside_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}
.aside_inner > h3 {
    font-size: 1.313rem;
    float: left;
    margin-top: 10px;
}
.aside_inner > div {
    float: right;
}
.aside_inner > div > a {
    display: inline-block;
    height: 3.5rem;
    margin-right: 20px;
}
.aside_inner > div > a:nth-of-type(1) {
    width: 8rem;
    background: url(../img/초록누리/환경부.png);
    background-size: cover;
}
.aside_inner > div > a:nth-of-type(2) {
    width: 13rem;
    background: url(../img/초록누리/식품의약품안전평가원.png);
    background-size: cover;
}
.aside_inner > div > a:nth-of-type(3) {
    width: 14rem;
    background: url(../img/초록누리/화학물질종합정보시스템.png);
    background-size: cover;
}
.aside_inner > div > a:nth-of-type(4) {
    width: 14rem;
    background: url(../img/초록누리/안전보건공단.png);
    background-size: cover;
}
/* 풋터 */
footer {
    width: 100%;
    padding: 20px 10px;
    background-color: black;
}
.footer_inner {
    max-width: 1200px;
    margin: 0 auto;
    background: url(../img/초록누리/foot환경부.svg) no-repeat 0 50%;
}
.footer_inner > div:nth-of-type(1) {
    width: max-content;
    margin: 0 auto;
}
.footer_inner > div:nth-of-type(1) > a {
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
}
.footer_inner > div:nth-of-type(1) > a:nth-of-type(3) {
    color: #DF9219;
}
.footer_inner > div:nth-of-type(1) > a::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1rem;
    background-color: #aaa;
    margin: 0 5px 0 10px;

}
.footer_inner > div:nth-of-type(1) > a:last-child::after {
    content: " ";
    display: none;
    margin: 0;
}
.footer_inner > div:nth-of-type(1) > a:hover {
    color: blue;
}
.footer_inner > div:nth-of-type(1) > a:hover::after {
    color: white;
}
.footer_inner > div:nth-of-type(2) {
    width: 12rem;
    height: 5rem;
    background: url(../img/초록누리/미래창조과학부.svg) no-repeat 100% 0;
    float: right;
}
.footer_inner > div:nth-of-type(2) > a {
    color: white;
    margin-top: 1rem;
    text-decoration: none;
}
.footer_inner > div:nth-of-type(2) > a::before{
    font-size: 2rem;
}
address {
    width: max-content;
    margin: 0 auto;
    font-size: 0.9rem;
    font-style: normal;
    color: white;
    clear: both;
}