@charset "UTF-8";
header{
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    transform: translate(-350px, 0);
}
header a{
    margin: 20px auto;
    color: white;
    font-size: 30px;
}
header a:hover{
    color: #666ab7;
}