@charset "UTF-8";
:root{
    --common-height: calc(100vh - 170px);
    --common-width: calc(100vw - 100px);
    --year-color: #666ab7;
    --button-color: #2B3036;
    --text-color: #43434f;
    --back-color: #fbfbfb;
}
*{
    color: var(--text-color);
}
body{
    background: #353A40;
    padding: 50px 50px 0 50px;
    overflow: hidden;
}
/* 헤더 */
header{
    width: 350px;
    height: var(--common-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: black;
    padding: 160px 0 20px 0;
}
header > div:nth-child(2){
    width: fit-content;
    margin: 0 auto;
}
.link{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.link a{
    text-align: center;
    color: white;
    font-size: 30px;
}
.link a:hover{
    color: var(--year-color);
}
header button{
    color: white;
    font-size: 14px;
    margin: 0 20px;
}
header button:hover{
    color: var(--year-color);
}
/* 메인 */
.main_inner{
    position: absolute;
    top: 50px;
    transition: transform 0.5s ease-out;
}
.main_inner.on{
    transform: translate(350px, 0);
}
.main_box{
    width: var(--common-width);
    margin: 0 auto;
    overflow: hidden;
}
.wrapping{
    width: 400%;
    position: relative;
    left: 0;
    transition: left 0.08s;
}
.project{
    width: 25%;
    height: var(--common-height);
    background: var(--back-color);
    float: left;
    overflow: auto;
}
.project::-webkit-scrollbar{
    width: 10px;
    background: var(--text-color);
}
.project::-webkit-scrollbar-thumb{
    background: var(--year-color);
    border-radius: 4px;
}
.project_inner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 35px 0 0 0;
}
/* 첫 번째 슬라이드 */
.project_inner.a > section:nth-of-type(1){
    height: 300px;
    background: url(../img/index/말풍선.svg) no-repeat 628px 0;
}
.project_inner.a > section:nth-of-type(1) h1{
    color: var(--year-color);
    font-size: 50px;
    font-weight: 700;
}
.project_inner.a > section:nth-of-type(1) > p{
    color: var(--back-color);
    text-shadow: -1px 0 var(--text-color), 0 1px var(--text-color), 1px 0 var(--text-color), 0 -1px var(--text-color);
    font-size: 40px;
}
.project_inner.a > section:nth-of-type(1) > div{
    margin: 15px 0 0 0;
}
.project_inner.a > section:nth-of-type(1) > div p{
    font-size: 20px;
}
.sub_h{
    display: inline-block;
    color: var(--back-color);
    -webkit-text-stroke: 2px var(--year-color);
    font-size: 40px;
}
.sub_h::after{
    content: "";
    display: block;
    width: 108%;
    height: 1px;
    background: var(--year-color);
}
.project_inner.a > section:nth-of-type(2){
    height: 225px;
    background: url(../img/index/stack.png) no-repeat 100% 0;
    margin: 40px 0;
}
.project_inner > section:last-child{
    padding: 0 0 10px 0;
}
/* 두 번째 슬라이드 */
.project.b{
    background:var(--back-color) url(../img/index/초록누리.png) no-repeat 100%;
}
.project_inner.b > section h2{
    color: var(--year-color);
    font-size: 50px;
    font-weight: 700;
}
.project_inner.b > section > section:nth-of-type(1){
    margin: 30px 0;
}
.view{
    display: inline-block;
    margin: 0 0 0 30px;
    padding: 5px 15px;
    border: 1px solid var(--button-color);
    text-align: center;
    color: var(--text-color);
}
.view:hover{
    background: var(--year-color);
    color: var(--back-color);
}
.project_inner.b > section > section:nth-of-type(1) li{
    list-style: inside;
}
.project_inner.b > section > section:nth-of-type(1) > a:last-child{
    color: var(--text-color);
    font-size: 10px;
}
.project_inner.b > section > section:nth-of-type(1) a > span{
    vertical-align: middle;
}
.project_inner.b > section > section:nth-of-type(2) div{
    width: 550px;
    word-break: keep-all;
}
/* 세 번째 슬라이드 */
.project.c{
    background: var(--back-color) url(../img/index/김안과.png) no-repeat 100%;
}
.project_inner.c > section h2{
    color: var(--year-color);
    font-size: 50px;
    font-weight: 700;
}
.project_inner.c > section > section:nth-of-type(1){
    margin: 30px 0;
}
.project_inner.c > section > section:nth-of-type(1) li{
    list-style: inside;
}
.project_inner.c > section > section:nth-of-type(1) > a:last-child{
    color: var(--text-color);
    font-size: 10px;
}
.project_inner.c > section > section:nth-of-type(1) a > span{
    vertical-align: middle;
}
.project_inner.c > section > section:nth-of-type(2) div{
    width: 550px;
    word-break: keep-all;
}
/* 네 번째 슬라이드 */
.project.d{
    background: var(--back-color) url(../img/index/열라면.png) no-repeat 100%;
}
.project_inner.d > section h2{
    color: var(--year-color);
    font-size: 50px;
    font-weight: 700;
}
.project_inner.d > section > section:nth-of-type(1){
    margin: 30px 0;
}
.project_inner.d > section > section:nth-of-type(1) li{
    list-style: inside;
}
.project_inner.d > section > section:nth-of-type(1) > a:last-child{
    color: var(--text-color);
    font-size: 10px;
}
.project_inner.d > section > section:nth-of-type(1) a > span{
    vertical-align: middle;
}
.project_inner.d > section > section:nth-of-type(2) div{
    width: 550px;
    word-break: keep-all;
}
/* 푸터 */
footer{
    width: var(--common-width);
    height: 120px;
    position: relative;
}
.nav_button{
    width: 100px;
    height: 100px;
    background: var(--button-color);
    border-radius: 50%;
    position: absolute;
    left: 20px;
    bottom: 10px;
    z-index: 2;
    box-shadow: inset 2px 2px 5px 2px rgb(0 0 0 / 73%), inset -3px -3px 1px -1px #ffffff2e;
}
.nav_button > div{
    width: fit-content;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(0 0 0 / 43%), inset 2px 2px 2.5px 0px rgb(185 167 167 / 34%);
}
.nav_button span{
    display: block;
    width: 50px;
    height: 50px;
    padding: 11px 0 0 0;
    border-radius: 50%;
    color: var(--year-color);
}
.nav_button span.on{
    transform: rotate(140deg);
}
footer > a{
    padding: 10px;
    color: var(--back-color);
    border: 1px solid var(--back-color);
    position: absolute;
    top: 25%;
    left: 17%;
}
footer > div{
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.slide_button{
    width: 100px;
    height: 100px;
    background: var(--button-color);
    border-radius: 50%;
    box-shadow: inset 2px 2px 5px 2px rgb(0 0 0 / 73%), inset -3px -3px 1px -1px #ffffff2e;
}
.slide_button > div{
    width: fit-content;
    margin: 0 auto;
    border-radius: 50%;
    background: var(--button-color);
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(0 0 0 / 43%), inset 2px 2px 2.5px 0px rgb(185 167 167 / 34%);
}
.slide_button span{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}
.slide_button span::after{
    content: "";
    display: block;
    width: 4px;
    height: 10%;
    background: var(--year-color);
    position: absolute;
    left: 50%;
}
footer > div > p{
    display: inline;
    color: white;
    text-shadow: -1px 0 var(--text-color), 0 1px var(--text-color), 1px 0 var(--back-color), 0 -1px var(--back-color), 3px 3px 5px black;
    vertical-align: top;
}