@charset "utf-8";
body{
    min-width: 320px;
    padding: 0;
    overflow: initial;
}
header{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1;
    transition: left 0.5s linear;
}
header.on{
    left: 0;
}
header button{
    font-size: 12px;
}
.link a{
    font-size: 15px;
}

/* 메인 */
.main_inner{
    position: static;
}
.main_inner.on{
    transform: none;
}
.main_box{
    width: 100%;
}
.wrapping{
    width: 100%;
    position: static;
    overflow: initial;
}
.project{
    width: 100%;
    height: 100%;
    padding: 10px;
    float: none;
}
/* 첫 번째 슬라이드 */
.project.a{
    background: var(--back-color) url(../img/index/말풍선.svg) no-repeat 50% 0 /110%;
    background-blend-mode: color-burn;
}
.project_inner.a{
    padding: 0;
}
.project_inner.a > section:nth-of-type(1){
    background: transparent;
}
.project_inner.a > section:nth-of-type(1) > p{
    font-size: 22px;
}
.project_inner.a > section:nth-of-type(2){
    height: 465px;
    margin: 10px 0;
    background: url(../img/index/stack.png) no-repeat 50% 100% /300px;
}
.sub_h ~ ul{
    width: 100%;
    word-break: keep-all;
}
.project_inner.a > section:last-child{
    padding: 10px 0 30px;
}

/* 두 번째 슬라이드 */
.project.b{
    background:var(--back-color) url(../img/index/초록누리m.png) no-repeat 0% 0%;
}
.project_inner.b > section h2 {
    background: var(--back-color);
}
.project_inner.b .sub_h::after{
    width: 95%;
}
.project_inner.b > section > section:nth-of-type(2) div{
    width: 100%;
}

/* 세 번째 슬라이드 */
.project.c{
    padding: 10px 10px 0;
}
.project_inner.c section{
    background: var(--back-color);
    opacity: 0.95;
}
.project_inner.c .sub_h::after{
    width: 90%;
}
.project_inner.c > section > section:nth-of-type(2) div{
    width: 100%;
}
.project.c::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    background: var(--back-color);
}

/* 네 번째 슬라이드 */
.project.d{
    background: var(--back-color) url(../img/index/열라면m.png) no-repeat 100% -17px;
}
.project_inner.d{
    padding: 95px 10px 10px;
}
.project_inner.d .sub_h::after{
    width: 90%;
}
.project_inner.d > section > section:nth-of-type(2) div{
    width: 100%;
}
/* 푸터 */
footer{
    height: 70px;
    position: static;
}
.nav_button{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 5px;
    box-shadow: inset 2px 2px 5px 2px rgb(0 0 0 / 73%), inset -3px -1px 1px -1px #ffffff2e, -0.5px -0.5px 1px 4px #353a40;
}
.nav_button span{
    width: 25px;
    height: 25px;
    padding: 4px 0 0 0;
    color: white;
    font-size: 10px;
    font-weight: 100;
}
.slide_button{
    display: none;
}
footer > div > p{
    display: none;
}