@charset "UTF-8";
:root{
    --common-height: calc(100vh - 170px);
    --common-width: calc(100vw - 100px);
}
body{
    background: #313133;
    padding: 50px 50px 0 50px;
    overflow: hidden;
}
header{
    width: 350px;
    height: var(--common-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
}
header a{
    margin: 20px auto;
    color: white;
    font-size: 30px;
}
header a:hover{
    color: #666ab7;
}
/* λ©”μΈ */
.main_inner{
    position: absolute;
    top: 50px;
    transition: transform 0.5s ease-out;
}
.main_inner.on{
    transform: translate(350px, 0);
}
@keyframes shiver{
    from{transform: rotate(10deg);}
    to{transform: rotate(-8deg);}
}
.main_box{
    width: var(--common-width);
    margin: 0 auto;
    overflow: hidden;
}
.wrapping{
    width: 400%;
    position: relative;
    left: 0;
    transition: left 1s;
}
.project{
    width: 25%;
    height: var(--common-height);
    float: left;
}
.project.a{
    background: blue;
}
.project.b{
    background: red;
}
.project.c{
    background: yellow;
}
/* ν‘Έν„° */
footer{
    width: var(--common-width);
    height: 120px;
    position: relative;
}
.nav_button{
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    bottom: 10px;
    animation: shiver 1s linear infinite alternate-reverse;
    z-index: 2;
}
.nav_button:hover{
    animation: none;
}
.slide_button{
    width: 100px;
    height: 100px;
    background: white;
    position: absolute;
    border-radius: 50%;
    right: 20px;
    bottom: 10px;
    box-shadow: inset 3px 3px 10px 0px rgb(0 0 0 / 33%), inset 2px 0px 10px 0px #a9a9a9;
}
.slide_button > span{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 33%), inset 1px 1px 0px 0px rgb(29 27 54 / 15%);
    border-radius: 50%;
    transform: translate(50%, 0);
    position: relative;
}
.slide_button > span::after{
    content: "";
    display: block;
    width: 3px;
    height: 10%;
    background: skyblue;
    position: absolute;
    left: 50%;
}