@charset "UTF-8";
:root{
    --common-height: calc(100vh - 170px);
    --common-width: calc(100vw - 100px);
    --year-color: #666ab7;
    --button-color: #2B3036;
}
body{
    background: #353A40;
    padding: 50px 50px 0 50px;
    overflow: hidden;
}
header{
    width: 350px;
    height: var(--common-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
}
header button{
    margin: 20px auto;
    color: white;
    font-size: 30px;
}
header button:hover{
    color: var(--year-color);
}
/* λ©”μΈ */
.main_inner{
    position: absolute;
    top: 50px;
    transition: transform 0.5s ease-out;
}
.main_inner.on{
    transform: translate(350px, 0);
}
@keyframes shiver{
    from{transform: rotate(10deg);}
    to{transform: rotate(-8deg);}
}
.main_box{
    width: var(--common-width);
    margin: 0 auto;
    overflow: hidden;
}
.wrapping{
    width: 400%;
    position: relative;
    left: 0;
    transition: left 1s;
}
.project{
    width: 25%;
    height: var(--common-height);
    float: left;
}
.project.me{
    background: var(--year-color);
}
.project.a{
    background: blue;
}
.project.b{
    background: red;
}
.project.c{
    background: yellow;
}
/* ν‘Έν„° */
footer{
    width: var(--common-width);
    height: 120px;
    position: relative;
}
.nav_button{
    width: 100px;
    height: 100px;
    background: var(--button-color);
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 20px;
    bottom: 10px;
    animation: shiver 1s linear infinite alternate-reverse;
    z-index: 2;
}
.nav_button:hover{
    animation: none;
}
.slide_button{
    width: 100px;
    height: 100px;
    background: var(--button-color);
    position: absolute;
    border-radius: 50%;
    right: 20px;
    bottom: 10px;
    box-shadow: inset 2px 2px 8px 2px rgb(0 0 0), inset -3px -3px 15px 0px #917c7c4d;
}
.slide_button > span{
    display: block;
    width: 50px;
    height: 50px;
    background: var(--button-color);
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(255 255 255 / 17%), inset 2px 2px 2.5px 0px rgb(185 167 167 / 34%);
    border-radius: 50%;
    transform: translate(50%, 0);
    position: relative;
}
.slide_button > span::after{
    content: "";
    display: block;
    width: 4px;
    height: 10%;
    background: var(--year-color);
    position: absolute;
    left: 50%;
}