@charset "UTF-8";
article{
    padding: 270px 0 0 0;
    background: url(../img/kimjoin/김안과_join_logo.svg) no-repeat 50% 90px /400px;
}
.inner{
    width: 768px;
    margin: 0 auto;
}
.inner > h1{
    width: fit-content;
    margin: 0 auto;
}
.inner > section:nth-of-type(1) > h2{
    border: 1px solid #c4c4c4;
    border-bottom: none;
    padding: 5px;
}
.inner > section:nth-of-type(1) > div:nth-of-type(2){
    float: right;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table *{
    padding: 15px;
    border: 1px solid #c4c4c4;
}
table caption{
    border-bottom: none;
}
th{
    font-weight: normal;
}
.inner > div:nth-of-type(1) > div{
    float: right;
}
.inner > div:nth-of-type(1) > div > p{
    font-size: 0.8rem;
}
.inner > div:nth-of-type(1) > div > div{
    float: right;
}
.important::before{
    content: "*";
    margin: 0 5px 0 0;
    color: red;
    vertical-align: middle;
}
input[type="button"]{
    margin: 0 0 0 5px;
}
form p{
    margin: 0 0 5px 0;
}
.address *{
    margin: 0 0 5px 0;
}
.address{
    margin: 15px 0 0 0;
    padding: 10px;
    border: 1px solid #c4c4c4;
}
.check_list{
    float: right;
    margin: 20px 0;
}
button[type="submit"]{
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    clear: both;
    background: #6667ab;
    color: white;
    font-size: 1.7rem;
}
.footer{
    width: fit-content;
    margin: 40px auto 10px;
}
.footer button{
    margin: 0 20px 0 0;
    position: relative;
    color: #c4c4c4;
    font-size: 0.8rem;
}
.footer button::before{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #c4c4c4;
    position: absolute;
    left: -10px;
}
.footer button:nth-child(1)::before{
    content: "";
    display: none;
}
.footer button:hover{
    color: #6667ab;
}

/* 폼 관련 스타일 */
.id,
.password{
    position: relative;
}
.id_log,
.pass_log{
    color: #c4c4c4;
    font-size: 12px;
    margin: 0 0 0 10px;
    position: absolute;
    top: 0px;
}
input[placeholder]{
    border: 1px solid #c4c4c4;
    font-size: 15px;
}

@media screen and (max-width:767px) {
    html{
        font-size: 12px;
    }
    article{
        min-width: 320px;
        padding: 110px 0 0 0;
        background: url(../img/kimjoin/김안과_join_logo.svg) no-repeat 50% 60px /150px;
    }
    .inner{
        width: 100%;
        min-width: 320px;
    }
    form{
        margin: 20px 0 0 0;
    }
    .join_text > textarea{
        width: 100%;
        min-width: 320px;
    }
    input[placeholder]{
        width: 50%;
    }
    input[type="password"]{
        width: 40%;
    }
    input[type="tel"]{
        width: 32%;
    }
    .footer button{
        margin: 0 5px 0 0;
    }
    .footer button::before{
        display: none;
    }
}