@charset "UTF-8";
body{
    background: black;
}

/* 헤더 */
header{
    width: 100vw;
    background:black url(../img/yeulramen/오뚜기logo.png) no-repeat 20px 3px;
    position: fixed;
    top: 0;
    z-index: 100;
}
.header_inner{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.header_inner > div{
    width: fit-content;
    margin: 0 auto;
    line-height: 100px;
}
.header_inner > div button{
    color: white;
    background: transparent;
    border: none;
}
.header_inner > div button:first-child{
    margin: 0 40px 0 0;
}

/* 메인 */
/* 아티클1 */
.article1{
    height: calc(100vh - 164px);
    margin: 164px 0 0 0;
    background: url(../img/yeulramen/article1_bg.png) no-repeat 300px 0 /contain;
}
.article1_inner{
    width: 1200px;
    margin: 0 auto;
}
.article1_inner > h1{
    width: fit-content;
    margin: 64px auto 0;
    color: white;
    font-size: 35px;
    transform: rotate(-11deg);
}
.article1_inner > h1 span{
    margin: 0 20px 0 5px;
    color: yellow;
}
.article1_inner > p{
    width: fit-content;
    margin: 0 auto;
    padding: 0 0 0 50px;
    color: white;
    font-size: 55px;
    transform: rotate(-11deg);
}
.article1_inner > div{
    float: left;
}
.article1_inner > div > a{
    display: block;
    width: 419px;
    height: 256px;
}
.article1_inner > div > a:nth-child(1){
    background: url(../img/yeulramen/youtube1.png) no-repeat 50% 50% /cover;
}
.article1_inner > div > a:nth-child(2){
    background: url(../img/yeulramen/youtube2.png) no-repeat 50% 50% /cover;
}

/* 아티클2 */
.article2_inner{
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0 0 0;
}

/* 아티클2 버튼 */
.article2_inner > div:nth-of-type(1){
    width: fit-content;
    margin: 0 auto 20px;
}
.article2_inner > div:nth-of-type(1) button{
    box-sizing: content-box;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid #808080;
    border-radius: 10px;
    position: relative;
    color: #808080;
    font-size: 30px;
}
.article2_inner > div:nth-of-type(1) button:first-child{
    margin: 0 50px 0 0;
}
.article2_inner > div:nth-of-type(1) button::after{
    content: "";
    display: block;
    border: 1px solid #808080;
    border-top: none;
    border-left: none;
    border-radius: 10px;
    position: absolute;
    right: -5px;
    bottom: -5px;
}
.article2_inner > div:nth-of-type(1) button:nth-of-type(1)::after{
    width: 197px;
    height: 56px;
}
.article2_inner > div:nth-of-type(1) button:nth-of-type(2)::after{
    width: 142px;
    height: 56px;
}
.article2_inner > div:nth-of-type(1) button[class="on"]{
    border: 1px solid white;
    position: relative;
    color: white;
}
.article2_inner > div:nth-of-type(1) button[class="on"]::before{
    content: "";
    display: block;
    width: 46px;
    height: 43px;
    background: url(../img/yeulramen/땡땡땡.svg);
    position: absolute;
    top: -34px;
    left: -35px;
}
.article2_inner > div:nth-of-type(1) button[class="on"]::after{
    border: 1px solid white;
    border-top: none;
    border-left: none;
}

/* 아티클2 슬라이드1 */
.swiper-slide{
    width: 1200px;
    height: 500px;
    padding: 60px 50px;
    background: #4D4545;
}
.swiper-slide > div:first-child > div{
    width: 569px;
    height: 380px;
    float: left;
}
.swiper-slide > div:first-child > p{
    width: 45%;
    padding: 125px 0 0 0;
    float: right;
    color: white;
    font-size: 30px;
    word-break: keep-all;
}
/* 슬라이드1 1번 째 slide */
.swiper-slide.slide1_1 > div:first-child > div{
    background: url(../img/yeulramen/순열라면.png) no-repeat 0 0;
}
.swiper-slide.slide1_1 > div:last-child{
    width: fit-content;
    margin: 10px auto 0;
}
.swiper-slide.slide1_1 > div:last-child > p{
    float: left;
    color: white;
    font-size: 20px;
}
.swiper-slide.slide1_1 > div:last-child > p:nth-of-type(1) span{
    margin: 0 5px;
    color: red;
}
.swiper-slide.slide1_1 > div:last-child > p:nth-of-type(2){
    margin: 0 50px;
}
/* 슬라이드1 2~5번 째 slide */
.swiper-slide.slide1_2 > div > div{
    background: url(../img/yeulramen/순열라면.png) no-repeat -620px 0;
}
.swiper-slide.slide1_3 > div > div{
    background: url(../img/yeulramen/순열라면.png) no-repeat -1240px 0;
}
.swiper-slide.slide1_4 > div > div{
    background: url(../img/yeulramen/순열라면.png) no-repeat -1860px 0;
}
.swiper-slide.slide1_5 > div > div{
    background: url(../img/yeulramen/순열라면.png) no-repeat -2480px 0;
}
/* 슬라이드1 6번 째 slide */
.swiper-slide.slide1_6 > div > div{
    background: url(../img/yeulramen/면먹는노제.gif) no-repeat;
}

/* ------------------------------------------------------------------------- */

/* 슬라이드2 1번 째 slide*/
.swiper-slide.slide2_1 > div:first-child > div{
    background: url(../img/yeulramen/로열라면.png) no-repeat 0 0;
}
.swiper-slide.slide2_1 > div:last-child{
    width: fit-content;
    margin: 10px auto 0;
}
.swiper-slide.slide2_1 > div:last-child > p{
    float: left;
    color: white;
    font-size: 20px;
}
.swiper-slide.slide2_1 > div:last-child > p:nth-of-type(1) span{
    margin: 0 5px;
    color: red;
}
.swiper-slide.slide2_1 > div:last-child > p:nth-of-type(2){
    margin: 0 50px;
}
/* 슬라이드2 2~7번 째 slide */
.swiper-slide.slide2_2 > div > div{
    background: url(../img/yeulramen/로열라면.png) no-repeat -620px 0;
}
.swiper-slide.slide2_3 > div > div{
    background: url(../img/yeulramen/로열라면.png) no-repeat -1240px 0;
}
.swiper-slide.slide2_4 > div > div{
    background: url(../img/yeulramen/로열라면.png) no-repeat -1860px 0;
}
.swiper-slide.slide2_5 > div > div{
    background: url(../img/yeulramen/로열라면.png) no-repeat -2480px 0;
}
.swiper-slide.slide2_6 > div > div{
    background: url(../img/yeulramen/로열라면.png) no-repeat -3100px 0;
}
.swiper-slide.slide2_7 > div > div{
    background: url(../img/yeulramen/로열라면.png) no-repeat -3720px 0;
}
/* 슬라이드2 8번 째 slide */
.swiper-slide.slide2_8 > div > a{
    display: block;
    width: 633px;
    height: 360px;
    margin: 20px auto 0;
    background: url(../img/yeulramen/로열라면레시피.png) no-repeat 0 0;
}

/* ------------------------------------------------------------------ */

/* 슬라이드 1,2 컨트롤 */
.slideWrap{display: none;}
.slideWrap.on{display: block;}

/* ---------------------- */
/* 출처 등 */
.article2_inner > div:nth-child(4){
    margin: 20px 0 0 0;
}
.article2_inner > div:nth-child(4) > p{
    float: left;
    color: white;
}
.article2_inner > div:nth-child(4) > span{
    float: right;
    color: white;
    font-size: 50px;
    animation: left_move 2s infinite;
}
@keyframes left_move{
    from{transform: translate(0, 0); opacity: 0.5;}
    to{transform: translate(-120px, 0); opacity: 0;}
}

/* 아티클3 */
.article3{
    height: 500px;
    margin: 50px 0 0 0;
    background: url(../img/yeulramen/불꽃.png) no-repeat 0 180px;
}
.article3_inner{
    width: 1200px;
    margin: 0 auto;
}
.article3_inner > .slideWrap{
    margin: 0 0 0 30px;
    float: left;
}
.swiper.swiper-container.slide3{
    width: 336px;
    height: 500px;
}
.swiper-slide.slide3_1{
    background: url(../img/yeulramen/열라면들.png) no-repeat 0 0;
}
.swiper-slide.slide3_2{
    background: url(../img/yeulramen/열라면들.png) no-repeat -360px 0;
}
.swiper-slide.slide3_3{
    background: url(../img/yeulramen/열라면들.png) no-repeat -720px 0;
}
.swiper-slide.slide3_4{
    background: url(../img/yeulramen/열라면들.png) no-repeat -1150px 0;
}
.swiper-slide.slide3_5{
    background: url(../img/yeulramen/열라면들.png) no-repeat -1570px 0;
}
.swiper.swiper-container.slide3 .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}
.article3_inner > div:nth-child(2){
    width: 500px;
    height: 150px;
    margin: 50px 0 0 0;
    padding: 120px 0 0 0;
    background: url(../img/yeulramen/해피뉴이열라면.png) no-repeat 0 0 /contain;
    float: right;
}
.article3_inner > div:nth-child(2) p{
    color: white;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

/* 푸터 */
footer{
    height: 100px;
}
.footer_inner{
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
.footer_inner div{
    width: fit-content;
    margin: 0 auto;
}
.footer_inner div > a:nth-of-type(1){
    display: inline-block;
    width: 145px;
    height: 40px;
    background: url(../img/yeulramen/footer_content.png) no-repeat 0 -4px;
    vertical-align: middle;
}
.footer_inner div > a:nth-of-type(2){
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 50px;
    background: url(../img/yeulramen/footer_content.png) no-repeat -196px 0;
    vertical-align: middle;
}
.footer_inner div > a:nth-of-type(3){
    color: white;
    font-size: 20px;
    vertical-align: middle;
}