@charset "UTF-8";
header{
    background:black url(../img/yeulramen/오뚜기logo.png) no-repeat 20px 27px / 40px;
}
.header_inner{
    width: 320px;
}
.header_inner > div{
    font-size: 10px;
}
.header_inner > div button:first-child{
    margin: 0 30px 0 30px;
}
/* --------------------------------------------- */
.article1{
    height: 100%;
    margin: 124px 0 0 0;
    background: url(../img/yeulramen/article1_bg.png) no-repeat 50% 17% /320px;
}
.article1_inner{
    width: 320px;
}
.article1_inner > h1{
    font-size: 18px;
}
.article1_inner > h1 > img{
    width: 100px;
}
.article1_inner > p{
    font-size: 15px;
}
.article1_inner > div{
    float: none;
    margin: 267px 0 0 0;
}
.article1_inner > div > a{
    display: block;
    width: 255px;
    height: 150px;
    margin: 0 auto;
}
.article1_inner > div > a:nth-of-type(1){
    margin: 0 auto 10px;
}
/* --------------------------------------------- */

.article2_inner{
    width: 320px;
}
.article2_inner > div:nth-of-type(1) button{
    font-size: 12px;
}
.article2_inner > div:nth-of-type(1) button::after{
    right: -3px;
    bottom: -4px;
}
.article2_inner > div:nth-of-type(1) button:nth-of-type(1)::after{
    width: 100px;
    height: 29px;
}
.article2_inner > div:nth-of-type(1) button:nth-of-type(2)::after{
    width: 79px;
    height: 29px;
}
.article2_inner > div:nth-of-type(1) button[class="on"]::before {
    width: 20px;
    height: 20px;
    top: -13px;
    left: -15px;
}
/* 아티클2 슬라이드1 */
.swiper-slide{
    width: 100%;
    height: 280px;
    padding: 20px 0 0 0;
}
.swiper-slide > div:first-child > div{
    width: 240px;
    height: 160px;
    margin: 0 auto;
    float: none;
}
.swiper-slide > div:first-child > p{
    width: fit-content;
    margin: 10px auto 0;
    padding: 0 10px;
    float: none;
    font-size: 12px;
}
/* 슬라이드1 1번 째 slide */
.swiper-slide.slide1_1 > div:first-child > div{
    background: url(../img/yeulramen/순열라면M.png) no-repeat 0 0;
}
.swiper-slide.slide1_1 > div:last-child > p{
    font-size: 8px;
}
/* 슬라이드1 2~5번 째 slide */
.swiper-slide.slide1_2 > div > div{
    background: url(../img/yeulramen/순열라면M.png) no-repeat -270px 0;
}
.swiper-slide.slide1_3 > div > div{
    background: url(../img/yeulramen/순열라면M.png) no-repeat -540px 0;
}
.swiper-slide.slide1_4 > div > div{
    background: url(../img/yeulramen/순열라면M.png) no-repeat -810px 0;
}
.swiper-slide.slide1_5 > div > div{
    background: url(../img/yeulramen/순열라면M.png) no-repeat -1080px 0;
}
/* -------------------------------------------------------------------------- */

/* 슬라이드2 1번 째 slide*/
.swiper-slide.slide2_1 > div:first-child > div{
    background: url(../img/yeulramen/로열라면M.png) no-repeat 0 0;
}
.swiper-slide.slide2_1 > div:last-child{
    margin: 20px auto 0;
}
.swiper-slide.slide2_1 > div:last-child > p{
    font-size: 8px;
}
.swiper-slide.slide2_1 > div:last-child > p:nth-of-type(1) span{
    margin: 0 3px;
}
.swiper-slide.slide2_1 > div:last-child > p:nth-of-type(2){
    margin: 0 30px;
}
/* 슬라이드2 2~7번 째 slide */
.swiper-slide.slide2_2 > div > div{
    background: url(../img/yeulramen/로열라면M.png) no-repeat -270px 0;
}
.swiper-slide.slide2_3 > div > div{
    background: url(../img/yeulramen/로열라면M.png) no-repeat -540px 0;
}
.swiper-slide.slide2_4 > div > div{
    background: url(../img/yeulramen/로열라면M.png) no-repeat -810px 0;
}
.swiper-slide.slide2_5 > div > div{
    background: url(../img/yeulramen/로열라면M.png) no-repeat -1080px 0;
}
.swiper-slide.slide2_6 > div > div{
    background: url(../img/yeulramen/로열라면M.png) no-repeat -1350px 0;
}
.swiper-slide.slide2_7 > div > div{
    background: url(../img/yeulramen/로열라면M.png) no-repeat -1620px 0;
}
/* 슬라이드2 8번 째 slide */
.swiper-slide.slide2_8 > div > a{
    width: 320px;
    height: 180px;
    margin: 30px auto;
}
/* 출처 등 */
.article2_inner > div:nth-child(4){
    padding: 0 20px;
}
.article2_inner > div:nth-child(4) > p{
    font-size: 10px;
}
.article2_inner > div:nth-child(4) > span{
    font-size: 20px;
}
/* --------------------------------------------- */
.article3{
    height: 350px;
    background: url(../img/yeulramen/불꽃.png) no-repeat -3px 40px;
}
.article3_inner{
    width: 320px;
}
.article3_inner > .slideWrap{
    margin: 0 auto;
    float: none;
}
.swiper.swiper-container.slide3{
    width: 220px;
    height: 330px;
}
.swiper-slide.slide3_1{
    background: url(../img/yeulramen/열라면들T.png) no-repeat 0 0;
}
.swiper-slide.slide3_2{
    background: url(../img/yeulramen/열라면들T.png) no-repeat -240px 0;
}
.swiper-slide.slide3_3{
    background: url(../img/yeulramen/열라면들T.png) no-repeat -470px 0;
}
.swiper-slide.slide3_4{
    background: url(../img/yeulramen/열라면들T.png) no-repeat -752px 0;
}
.swiper-slide.slide3_5{
    background: url(../img/yeulramen/열라면들T.png) no-repeat -1033px 0;
}
.article3_inner > div:nth-child(2){
    width: 220px;
    margin: 50px auto;
    padding: 50px 0 0 0;
    float: none;
}
.article3_inner > div:nth-child(2) p{
    font-size: 15px;
} 
/* --------------------------------------------- */

.footer_inner{
    width: 320px;
}